@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --lightOrange:#faa236;
    --deepOrange:hwb(31 7% 4%);
    --blue: #274082;
    --blue-black:#0d203e;
    --white: #f8fcff;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--blue-black);
}

*{
    padding:0;
    margin:0;
    font-family: 'Poppins';
    background-color: var(--white);
}

html{
    scroll-behavior: smooth;
}

header{
    display:flex;
    margin:1rem 6rem;
    /* justify-content: center; */
    align-items: center;
    /* position:fixed; */
    /* top:-20; 
    left:-50;  */
    /* right:0; */
    /* z-index: 1000; */
    /* box-shadow: var(--box-shadow); */
    /* height:15%;
    width: 100%; */
}

header img{
    width:3rem;
    height:3rem;
    margin-right: .5rem;
}

header h1{
    font-size: 1.2rem;
    color: var(--blue-black);
    font-weight: 400;
}

header h1 span{
    color: var(--deepOrange);
    font-size:2rem;
    margin-right: 6rem;
}

header .navbar{
    margin-right: 6rem;
}

header .navbar a{
    text-decoration: none;
    font-weight: 400;
    justify-content: space-between;
    color:var(--blue-black);
    font-size: 1rem;
    margin-right: 2.5rem;
}

header .navbar a:hover{
    color:var(--blue);
    text-shadow:0 0 10px rgba(131, 166, 233, 0.6),
    0 0 20px rgba(131, 166, 233, 0.6),
    0 0 30px rgba(131, 166, 233, 0.6),
    0 0 40px rgba(131, 166, 233, 0.6),
    0 0 50px rgba(131, 166, 233, 0.6),
    0 0 60px rgba(131, 166, 233, 0.6),
    0 0 70px rgba(131, 166, 233, 0.6),
    0 0 80px rgba(131, 166, 233, 0.6),
    0 0 100px rgba(233, 189, 131, 0.6),
    0 0 150px rgba(131, 166, 233, 0.6);
}

.btn{
    background:none;
    border: 2px solid var(--deepOrange);
    border-radius: 2rem;
    height: 3rem;
    width: 8rem;
    font-size: 1rem;
    text-align: center;
    padding: .4rem;
    color: var(--white);
    background-color: var(--deepOrange);
    transition: .2s linear;
    align-items: center;
}

.btn:hover{
    background: var(--white);
    color: var(--blue-black);
    border:none;
    border: 2px solid var(--blue-black);
}

#home .container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#home .container img{
    width:40rem;
    margin-left:4rem;
    margin-right: 4rem;
    background: none;
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.3));
}

#home .container .textContainer{
    margin-right:5rem;
    background-color: var(--blue);
    width: 30rem;
    height:18rem;
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#home .container .textContainer h2{
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

#home .container .textContainer h2, #home .container .textContainer p{
    background-color: var(--blue);
    border-radius: 1rem;
    color: var(--white);
}

#home .container .textContainer p{
    margin-bottom:1rem;
    letter-spacing: .1rem;
}

#home .container .textContainer button{
    width: 12rem;
    height:3rem;
    margin-left: 6rem;
}

#services{
    margin-bottom: 3rem;
}

#services .container h2{
    text-align: center;
    margin-top: 3rem;
    color:var(--blue-black);
    font-size: 2rem;
}

#services .container p{
    text-align: center;
    margin: 0 6rem;
    margin-bottom: 2rem;
}

#services .serviceSlider{
    padding-left: 3rem;
    align-items: center;
    margin-left: 15rem;
}

#services .serviceSlider:first-child{
    margin-bottom: 2rem;
}

#services .swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap:1.5rem;
    margin-right: 10rem;
    overflow-y: hidden;
}

#services .serviceSlider .box{
    background: #fff;
    border-radius: .5rem;
    text-align:center;
    padding: 2rem 1rem;
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    margin-right: 2rem;
    width: 15rem;
}

#services .serviceSlider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

#services .serviceSlider .box img{
    height: 15rem;
    width: 12rem;
}

#services .serviceSlider .box h1{
    font-size: 1rem;
    color: var(--black);
}


#services .serviceSlider .box .location{
    font-size: 1rem;
    color: var(--blue-black);
    padding:1rem 0;
}

#services .box .stars{
    font-size: 1rem;
    color: var(--lightOrange);
    padding: 1rem 0;
} 

#about h2, #about h3{
    text-align: center;
    color: var(--blue-black);
    font-size: 2rem;
    margin: 1rem 0;
}

#about p{
    margin: 0 4rem;
    text-align: center;
}

#footer .container{
    background-color: var(--blue-black);
    margin-top: 3rem;
    padding: 2rem;
    min-height:12rem;
    display:flex;
}

#footer .container .logoContainer,
 #footer .container .pagesContainer, 
 #footer .container .addressContainer{
    background-color: var(--blue-black);
    margin-top: 2rem;
}

#footer .container .logoContainer{
    margin-left: 10rem;
    border-right: .1rem solid var(--white);
}

#footer .container .logoContainer img{
    background: none;
    width: 7rem;
    height: 7rem;
    margin-right: 4rem;
}

#footer .container .logoContainer p{
    background-color: var(--blue-black);
    color:var(--white);
    /* margin-left:.5rem; */
}

#footer .container .pagesContainer{
    margin-left: 4rem;
    background-color: var(--blue-black);
    border-right: .1rem solid var(--white);
}

#footer .container .pagesContainer p{
    background-color: var(--blue-black);
    color:var(--white);
    font-size:large;
}

#footer .container .pagesContainer #links{
    background: var(--blue-black);
    margin-right:4rem;
    align-items: center;
}

#footer .container .pagesContainer #links i{
    color: var(--lightOrange);
    background: var(--blue-black);
    margin-right: .5rem;
}

#footer .container .pagesContainer #links i:hover{
    padding-right: .2rem;
}

#footer .container .pagesContainer #links a:hover{
    padding-left:.2rem;
}

#footer .container .pagesContainer #links a{
    background: var(--blue-black);
    color: var(--white);
    text-decoration: none;
}

#footer .container .addressContainer{
    margin-left: 5rem;
    align-items: center;
    text-align: center;
}

#footer .container .addressContainer h2{
    background-color: var(--blue-black);
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}

#footer .container .addressContainer a{
    background-color: var(--blue-black);
    text-decoration: none;
}

#footer .container .addressContainer a i{
    background-color: var(--blue-black);
    color: white;
    margin-right:.3rem;
    font-style: 'Poppins';
}

#footer .container .addressContainer a i:hover{
    color:var(--lightOrange);
}

#footer .container .addressContainer .mediaIcons{
    background-color: var(--blue-black);
    color:var(--white);
}

#footer .container .addressContainer .mediaIcons p{
    background-color: var(--blue-black);
    color: var(--white);
}


#termsModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}

#termsModal .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-height: 80vh;
    overflow: hidden;
    text-align: center;
    position: relative;
}


#termsModal .modalContent h2{
    padding-bottom: 1rem;
}

#termsModal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#termsModal .content {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 2rem;
}

#termsModal .content::-webkit-scrollbar {
    width: 8px;
}

#termsModal .content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

#termsModal .content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#termsModal .content::-webkit-scrollbar-thumb:hover {
    background: #555;
}



#privacyModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}

#privacyModal .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-height: 80vh;
    overflow: hidden;
    text-align: center;
    position: relative;
}


#privacyModal .modalContent h2{
    padding-bottom: 1rem;
}

#privacyModal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#privacyModal .content {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 2rem;
}

#privacyModal .content::-webkit-scrollbar {
    width: 8px;
}

#privacyModal .content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

#privacyModal .content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#privacyModal .content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#privacyModal .content p span{
    font-weight:bold;
}





@media (max-width: 992px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .img {
        width: 120px; /* Resize logo for tablets */
        margin-bottom: 10px;

    }

    header .navbar {
        flex-direction: column;
        gap: 10px;
    }

    header .navbar a {
        display: block;
        width: 100%;
    }

    #home .container {
        flex-direction: column;
        text-align: center;
    }

    #home .container img {
        width: 80%;
        margin: 0 auto;
    }

    #services .serviceSlider {
        margin-left: 0;
        padding-left: 0;
    }

    #services .swiper-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer .container {
        flex-direction: column;
        text-align: center;
    }

    #footer .container .logoContainer,
    #footer .container .pagesContainer,
    #footer .container .addressContainer {
        margin-left: 0;
        border-right: none;
    }
}
